<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} base {% endblock %}</title>
  <!-- import bootstrap  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
  </script>

  <!-- no clue what this does, but it prevents "GET /favicon.ico HTTP/1.1" 404 errors -->
  <link rel="icon" href="data:;base64,=">
  <style>
    p {
      color: rgba(255, 255, 255, 0.799);
      font-family: Arial, Helvetica, sans-serif;
      font-size: large;
      margin: auto;
    }
  </style>

</head>

<body>
  <div class="fluid-container">
    <center>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ">
            {%if current_user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" id="map" href="/map/">Map</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" id="login" href="/login/">Login</a>
            </li>

            {% endif %}
            <li class="nav-item">
              <a class="nav-item nav-link" id="base-template" href="/base/">base-template</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="load-db" href="/loaddb/">load-db (delete later)</a>
            </li>
            <!-- nur Beispiel für Wochentag-Backend-Fkt, muss an andere Stelle, sieht natürlich schäbig aus so -->
            <li class="nav-item">
              <a class="nav-link" id="weekday" href="/wednesday/">Wednesday</a>
            </li>
          </ul>

          {%if current_user.is_authenticated%}
          <!--Form item of menu for search purpose-->
          <form class="form-inline ml-auto ">
            <p>Hello, {{current_user.username}}!</p>
            <a class="nav-item nav-link" id="logout" href="/logout/"
              style="color: #a079e8; font-weight: bold;">Logout</a>
          </form>
          {% endif %}
        </div>
      </nav>
    </center>
  </div>



  <!-- display flash messages -->
  {%with messages = get_flashed_messages(with_categories=true)%}
  {% if messages %}
  {%for category, message in messages%}
  {% if category =="error" %}

  <div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% else %}
  <div class="alert alert-success alter-dismissable fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  <!-- blocks will later be replaced by actual content -->

  {% block content%} anything in here will/can be replaced with templates {% endblock %}

</body>

</html>