{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content%}

    <form method="POST">
      <h3 align="center">Login</h3>
      <div>
        <label for="username">Email Address</label>
        <input
          type="username"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter username"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br/>
      <button type="submit" class="btn-primary">Login</button>

      <br/>
      <br/>
      <br/>
      
      <p>username,password
        user1,password1
        user2,password2
        user3,password3
        user4,password4
        user5,password5
        user6,password6</p>
    </form>
{% endblock %}