<!-- this file inherits from base.html. 
   this means that for example bootstrap doesn't need to be imported again -->
<!--<style>
   body {
   margin: 0;            /* Reset default margin */
   }
   iframe {
   display: block;       /* iframes are inline by default */
   background: #000;
   border: none;         /* Reset default border */
   height: 100vh;        /* Viewport-relative units */
   width: 100vw;
   }
   </style>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  //this variable needs to be adjusted depending on where the server is hosted
            // example1:
            let HOST = "http://127.0.0.1:5000"
            // example2:
            //let HOST = "http://loctrace.pythonanywhere.com"
</script>
<style>
  .row {
    width: 100% !important;
    margin: 0px !important;
    height: fit-content;


  }

  .col {
    padding: 0px !important;
  }

  .metacard {
    padding: 20px !important;
    font-size: larger !important;

  }

  .metacard>table>tbody>tr:nth-child(2n+1) {
    color: #a079e8 !important;
    font-weight: bold !important;
    border-bottom-width: 2px !important;
    border-color: #573b8a !important;
  }

  .metacard>table>tbody {
    font-size: larger !important;
    border-spacing: 10px !important;

  }

  .metacard>table>tbody>tr>td {
    margin-right: 10px !important;
    padding: 5px;
    vertical-align: top;
    text-align: left;
    font-size: 12pt;

  }

  .col-md-9.col-12 {
    padding: 0px;
  }


  .dropdown {
    position: static !important;
  }

  .dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    margin-top: 0px !important;
    width: 100% !important;
  }

  ul {
    margin-left: 10px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin-bottom: 0px !important;
    font-weight: bold;
  }

  #myModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

  @media screen and (max-width: 720px) {
    div#map {
      order: 2
    }

    div#meta {
      order: 1
    }

    #map {
      height: 1000px !important;
    }

    #myModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  }
</style>
{% extends "base.html" %}
<!-- this replaces the block called "title" in base.html -->
{% block title %} Map {% endblock %}
<!-- this replaces the block called "content" in base.html -->
{% block content %}
<!---action="{{ url_for('views.map') }}-->


<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-dark
              justify-content-between text-white" id="main" style="background-color: #573b8a;">
      <a class="navbar-brand" href="#">
        Filter
      </a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown01"
        aria-controls="navbarNavDropdown01" aria-expanded="false" aria-label="Toggle navigation"
        style="outline-color:#fff">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown01">
        <ul class="navbar-nav ">
          <!--dropdown item of menu-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Zeitfenster
            </a>
            <!--dropdown sub items of menu-->
            <form method="POST" action="/map/">
              <div class="dropdown-menu form-group" method="POST" aria-labelledby="navbarDropdown">
                <div class="row dropdown item input-group" style=" width: 80%;">
                  <div class="col-6 " style="padding-left: 0px;">Start: </div>
                  <div class="col-4 " style="padding-left: 24px">Ende: </div>
                  <div class="w-100" style="padding: 5px;"></div>

                  <input class="form-control me-2" type="date" href="#" name="start_date" min="{{df_metadata['time'][1]}}" max = "{{df_metadata['time'][(df_metadata|length)-1]}}">
                  <input class="form-control me-2" type="time" name="start_time">
                  <div class="col-1"></div>
                  <input class="form-control me-2" type="date" href="#" name="end_date" min="{{df_metadata['time'][1]}}" max = "{{df_metadata['time'][(df_metadata|length)-1]}}">
                  <input class="form-control me-2" type="time" name="end_time">
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <button type="submit" class="btn btn-success" style="background-color: #573b8a;">Bestätigen</button>
                </a>
              </div>
            </form>
          </li>
          <li>
              <a>
                <button class=" btn btn-light" onclick="window.location.href= HOST + '/survey_part2/'" name="survey_button" type="button" id="survey_button"
                  style="background-color: #a079e8; color: #fff; border-color: #a079e8; display:none;">Go to Survey!</button>
              </a> 
          </li>

        </ul>

        {%if current_user.is_authenticated%}


        <!--Form item of menu for search purpose-->
        <a class="ms-auto">
          <p>Hello, {{current_user.username}}!</p>
          <a class="nav-item nav-link " id="logout" href="/logout/"
            style="color: #a079e8; font-weight: bold;">Logout</a>
        </a>


        {% endif %}

      </div>

      <!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Survey</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please take part in our Survey now. 

        If you want to continue exploring your location data, you can also do so by pressing the survey button above!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href=HOST+'/survey_part2/'">Go to Survey now!</button>
      </div>
    </div>
  </div>
</div>
    </nav>
  </div>
</div>



<div class="row" height="1000px">
  <div class="col-md-9 col-12" id="map" padding="0px">
    <!--{{map |safe}}-->
    <iframe class="displaymap" , src="/displaymap" height="100%" width="100%" frameborder="0"
      seamless="seamless"></iframe>
  </div>
  <div class="col-md-3 col-12" id="meta">
    <div class="metacard">
      <div class="metaheader">
        <h4 id="offcanvasRightLabel" style="color: #a079e8">Aggregated Information</h4>
        <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            onclick="closeMeta()"></button> -->
      </div>

      <p>In the following you can see additional information which can be inferred based on your
        location information:</p>
      <p style="text-align: center;">&nbsp;</p>

      <table cellspacing="10px" style="border-spacing: 10px;">
        <tbody>
          <tr>
            <td colspan="2">
              Locations:
            </td>
          </tr>
          <tr>
            <td>
              Overall, you have visited<strong> {{df_metadata['stops'][0]}}</strong> locations.
            </td>
            <td>
              Among them <strong>{{df_metadata['unique locations'][0]}}</strong> unique locations can be detected.

            </td>
          </tr>
          <tr>
            <td colspan="2">
              Distance:
            </td>
          </tr>
          <tr>
            <td>
              Overall, you have traveled <strong>{{df_metadata['total trip path distance (km)'][0]}} km</strong> for
              which you needed
              {{(df_metadata['total trip duration (min)'][0]/60)|round}} hours.
            </td>
            <td>
              On average you needed <strong>{{(df_metadata['mean trip duration (min)'][0]|round)}} hours</strong> for
              each trip.
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Home Location:
            </td>
          </tr>
          <tr>
            <td>
              Overall, you have spent <strong>{{(df_metadata['time at home (min)'][0])|round}} hours</strong> at home
              and
              <strong>{{(df_metadata['time out of home (min)'][0])|round}} hours </strong> outside of your home.

            </td>
            <td>
              The largest distance from your home was <strong>{{df_metadata['max distance to home (stops, km)'][0]}}
                km</strong>.
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Movement Times:
            </td>
          </tr>
          <tr>
            <td>
              On average, you started your first movement on a day at
              <strong>{{df_metadata['time first move'][0]}}</strong> a clock and
              changed your location the first time.
            </td>
            <td>
              On average, your last movement on a day was at
              <strong>{{df_metadata['time last move'][0]}}</strong> a clock, when you changed your
              location the last time.
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <p style="text-align: center;">&nbsp;</p>

      <p style="font-size: 10.5pt;">This information can easily be inferred from your location traces, which are usually
        tracked by numerous applications on your smartphone. The collection of location information over a longer period
        of
        time allows to aggregate very precise information about your daily routines. Among them are, when you are
        usually
        going to work and coming home, when and where you meet your friends and family, when and where you like to go
        for
        vacation, which doctors you are visiting, if you are an active sports person or not and sometimes even your
        secret
        passions.</p>

    </div>
  </div>
</div>

<script>

var is_modal_show = sessionStorage.getItem('alreadyShow');

if(is_modal_show == 'already shown'){  
  const survey_button = document.getElementById('survey_button');
  survey_button.style.display = 'block';
}else{
  
  setTimeout(() => {

    if(is_modal_show != 'already shown'){
      $('#myModal').modal('show')
      sessionStorage.setItem('alreadyShow','already shown');
      console.log("modal was shown");
      const survey_button = document.getElementById('survey_button')
      survey_button.style.display = 'block';
      console.log("button appears");
    }
  //console.log("works");
  }, 30000);
//console.log(is_modal_show);
}
</script>



<!-- 
<script>
  function openMeta() {
    if (document.getElementById("karte").style.marginRight == "30%") {
      document.getElementById("karte").style.marginRight = "0px";
    } else {
      document.getElementById("karte").style.marginRight = "30%";
    }
  }

  function closeMeta() {
    document.getElementById("karte").style.marginRight = "0px";
  }
</script>
 -->
{% if true %}
<p>{{foo}}</p>
<!--<div>{{ map }}</div>-->
{% endif %}
{% endblock %}