<!-- this file inherits from base.html. 
   this means that for example bootstrap doesn't need to be imported again -->
<!--<style>
   body {
   margin: 0;            /* Reset default margin */
   }
   iframe {
   display: block;       /* iframes are inline by default */
   background: #000;
   border: none;         /* Reset default border */
   height: 100vh;        /* Viewport-relative units */
   width: 100vw;
   }
   </style>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
  .container {
    margin: 0px !important;
    padding: 0px !important;
    font-size: larger !important;
  }

  .row {
    width: 100% !important;
    margin: 0px !important;
    height: fit-content;

  }

  .col {
    padding: 0px !important;
  }

  .metacard {
    padding: 20px !important;

  }

  .metacard>table>tbody {
    font-size: larger !important;

  }

  .metacard>table>tbody>tr>td {
    margin-right: 10px !important;
    font-size: medium
  }


  .metacard>table>tbody>tr:nth-child(2n+1) {
    color: #a079e8 !important;
    font-weight: bold !important;
    border-bottom-width: 2px !important;
    border-color: #573b8a !important;
  }

  .col-md-9.col-12 {
    padding: 0px;
  }


  .dropdown {
    position: static !important;
  }

  .dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    margin-top: 0px !important;
    width: 100% !important;
  }

  ul {
    margin-left: 10px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 0px !important;
  }
</style>
{% extends "base.html" %}
<!-- this replaces the block called "title" in base.html -->
{% block title %} Map {% endblock %}
<!-- this replaces the block called "content" in base.html -->
{% block content %}
<!---action="{{ url_for('views.map') }}-->

<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-dark
              justify-content-between text-white" id="main" style="background-color: #573b8a;">
      <a class="navbar-brand" href="#">
        Filter
      </a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown01"
        aria-controls="navbarNavDropdown01" aria-expanded="false" aria-label="Toggle navigation"
        style="outline-color:#fff">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown01">
        <ul class="navbar-nav ">
          <!--dropdown item of menu-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Zeitfenster
            </a>
            <!--dropdown sub items of menu-->
            <div class="dropdown-menu form-group" method="POST" aria-labelledby="navbarDropdown">
              <div class="row dropdown item input-group" style=" width: 80%;">
                <div class="col-6 " style="padding-left: 0px;">Start: </div>
                <div class="col-4 " style="padding-left: 24px">Ende: </div>
                <div class="w-100" style="padding: 5px;"></div>
                <input class="col-2 form-control" type="date" href="#" name="start_date">
                <input class="col-2 form-control" type="time" name="start_time">
                <div class="col-1"></div>
                <input class="col-2 form-control" type="date" href="#" name="end_date">
                <input class="col-2 form-control" type="time" name="end_time">
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <button type="button" class="btn btn-success" style="background-color: #573b8a;">Bestätigen</button>
              </a>
            </div>
          </li>
          <li>
            <!--   <a>
  
                <button class=" btn btn-light" onclick="openMeta()" name="offcanvas_button" type="button"
                  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                  style="background-color: #a079e8; color: #fff; border-color: #a079e8;">Show More Results</button>
              </a> -->
          </li>

        </ul>

        {%if current_user.is_authenticated%}


        <!--Form item of menu for search purpose-->
        <a class="ms-auto">
          <p>Hello, {{current_user.username}}!</p>
          <a class="nav-item nav-link " id="logout" href="/logout/"
            style="color: #a079e8; font-weight: bold;">Logout</a>
        </a>


        {% endif %}

      </div>
    </nav>
  </div>
</div>

<div class="row" height="1000px">
  <div class="col-md-9 col-12" padding="0px">
    <!--{{map |safe}}-->
    <iframe class="displaymap" , src="/displaymap" height="100%" width="100%" frameborder="0"
      seamless="seamless"></iframe>
  </div>
  <div class="col-md-3 col-12">
    <div class="metacard">
      <div class="metaheader">
        <h4 id="offcanvasRightLabel">Aggregated Information</h4>
        <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            onclick="closeMeta()"></button> -->
      </div>
      <p style="text-align: center;">&nbsp;</p>

      <p>In the following you can see additional information which can be inferred based on your
        location information:</p>
      <p style="text-align: center;">&nbsp;</p>

      <table cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td colspan="2">
              Locations:
            </td>
          </tr>
          <tr>
            <td>
              Overall, you have visited {{df_metadata['stops'][0]}} locations.
            </td>
            <td>
              Among them {{df_metadata['unique locations'][0]}} unique locations can be detected.

            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p>Distance:</p>
            </td>
          </tr>
          <tr>
            <td>
              Overall, you have traveled {{df_metadata['total trip path distance (km)'][0]}} km for which you needed
              {{(df_metadata['total trip duration (min)'][0]/60)|round}} hours.
            </td>
            <td>
              On average you needed {{(df_metadata['mean trip duration (min)'][0]|round)}} hours for each trip.
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p>Home Location:</p>
            </td>
          </tr>
          <tr>
            <td>
              Overall, you have spent {{(df_metadata['time at home (min)'][0])|round}} hours at home and
              {{(df_metadata['time out of home (min)'][0])|round}} hours outside of your home.

            </td>
            <td>
              The largest distance from your home was {{df_metadata['max distance to home (stops, km)'][0]}} km.
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Movement Times:
            </td>
          </tr>
          <tr>
            <td>
              On average, you started your first movement on a day at
              {{df_metadata['time first move'][0]}}a clock and
              changed your location the first time.
            </td>
            <td>
              On average, your last movement on a day was at
              {{df_metadata['time last move'][0]}} a clock, when you changed your
              location the last time.
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <p style="text-align: center;">&nbsp;</p>

      <p>This information can easily be inferred from your location traces, which are usually
        tracked by numerous applications on your smartphone. The collection of location information over a longer period
        of
        time allows to aggregate very precise information about your daily routines. Among them are, when you are
        usually
        going to work and coming home, when and where you meet your friends and family, when and where you like to go
        for
        vacation, which doctors you are visiting, if you are an active sports person or not and sometimes even your
        secret
        passions.</p>

    </div>
  </div>
</div>








<!-- 
<script>
  function openMeta() {
    if (document.getElementById("karte").style.marginRight == "30%") {
      document.getElementById("karte").style.marginRight = "0px";
    } else {
      document.getElementById("karte").style.marginRight = "30%";
    }
  }

  function closeMeta() {
    document.getElementById("karte").style.marginRight = "0px";
  }
</script>
 -->
{% if true %}
<p>{{foo}}</p>
<!--<div>{{ map }}</div>-->
{% endif %}
{% endblock %}